{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Резюме</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
        ul li {
            line-height: 2;
        }
    </style>
</head>
<body>
    <a href="/my-web">Вернуться на главную</a>
    <div>
        <h1 align="center" style="color: darkblue;font-size: 30pt; text-decoration:underline">РЕЗЮМЕ</h1>
        <img src="{% static 'images/foto.jpg'%}"
             width="200" border="2" style=" border-color: darkblue" align="left" hspace="40" vspace="20" />
        <br />
        <h1>Лисевич Оксана</h1>
        <p>Телефон: 096-128-05-17, 099-77-46-207</p>
        <p>Эл. почта: 417ksenia@gmail.com</p>
        <p>Город: Запорожье</p>
        <p>Возраст: 28 лет</p>
    </div>
    <br />
    <div>
        <h2>Образование</h2>
        <ul>
            <li>
                <b>ITVDN - Python Developer, Django</b> <br />
                online-курсы (11.2018 - наст. время)
            </li>
            <li>
                <b>
                    QATestlab - Основы тестирования ПО </b><br />
                    (11-12.2018)
</li>
            <li>
                <b>ТОВ Адажио - Бухгалтерия, 1С </b><br />
                    (06-08.2016)
</li>
            <li>
                <b>ЗНТУ - Электротехнический ф-т, специальность электрические аппараты </b><br />
                    (09.2007-06.2012)
</li>

        </ul>
        <h2>Опыт работы</h2>
        <ul>
            <li>
                <b>Мастер ногтевого сервиса (на себя)</b><br />
                (02.2014-наст. время)
            </li>
            <li>
                <b>Менеджер, LifePlayer (Обучение построению бизнеса) </b><br />
                (10.2014-01.2015) <br />
                Консультация и телефонные продажи по странам СНГ обучения построению и развитию бизнеса,
                ведение отчетности в CRM
            </li>
            <li>
                <b>Менеджер, Полигон (Подрядная организация Киевстар, подключение к интернету)</b> <br />
                (01.2012-01.2013) <br />
                Телефонная продажа услуг подключения к интернету.
                Повышение до старшего менеджера (помимо продаж, проведение собеседований,
                обучение и контроль работы менеджеров)
                и потом до тренера по продажам
            </li>
        </ul>

    </div>
</body>
</html>